@import '../../../assets/breakPoints.scss';
@import '../../../assets/variables.scss';

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.more {
  display: block;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  margin-top: 60px;
  text-transform: uppercase;

  background-color: $background-card;
  border-radius: 10px;
}
