@import '../../../assets/variables.scss';
@import '../../../assets/breakPoints.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 47%;

  @media screen and (max-width: $breakpoint-tablet-large) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $color-gray;
}

.key,
.value {
  font-size: 20px;
  margin: 15px 0;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 16px;
    margin: 10px 0;
  }
}

.value {
  color: $color-white;
}

.key {
  text-transform: capitalize;
}

.avatar > img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(121, 189, 212);

  @media screen and (max-width: $breakpoint-mobile) {
    width: 30px;
    height: 30px;
  }
}
