@import '../../../assets/breakPoints.scss';

.wrapper {
  margin-bottom: 100px;

  @media screen and (max-width: $breakpoint-tablet) {
    margin-bottom: 50px;
  }
}

.title {
  font-size: 46px;
  margin-bottom: 40px;
}

.description {
  font-size: 18px;
}
