@import '../../../assets/variables.scss';
@import '../../../assets/breakPoints.scss';

.card {
  width: 250px;
  height: 397px;
  background-color: $background-card;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  &:hover {
    transform: scale(1.1);
    overflow: visible;
    box-shadow: 0 -5px 30px 0px rgba(0, 0, 0, 0.48);
    .cardBottom {
      min-height: 150px;
      background-color: $background-card;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    }
    .description {
      -webkit-line-clamp: 6;
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    width: 160px;
    height: 270px;
  }

  @media screen and (max-width: 330px) {
    width: 140px;
    height: 260px;
  }
}

.cardBottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  min-height: 147px;

  @media screen and (max-width: $breakpoint-tablet) {
    min-height: 60px;
  }
}

.description {
  flex: 1;
  width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media screen and (max-width: $breakpoint-tablet) {
    width: 140px;
    -webkit-line-clamp: 2;
  }

  @media screen and (max-width: 330px) {
    width: 120px;
    -webkit-line-clamp: 2;
  }
}

.imageWrapper {
  width: 250px;
  height: 250px;

  & > img {
    position: unset !important;
    border-radius: 10px 10px 0 0;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    width: 160px;
    height: 160px;
  }
}
